@import './base.css';

.button, .button-secondary {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: .5rem 3rem;
  border-radius: 10px;
  color: #222;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.button {
  background-color: #f5d451;
  border: 5px solid #f5d451;
}

.button-secondary {
  background-color: #fff;
  border: 5px solid transparent;
}

@media (min-width: 1024px) {
}
